// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-headings: 'Lato', Helvetica, Arial, Sans-serif;
$font-body: 'Droid Serif', Georgia, Serif;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$color-blue: 	#00b0e5;
$color-body: 	#666666;

// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Breakpoints 
// -----------------------------------------------------------------------------

